/* 
* PHOTOMONKEY CASCADING STYLE SHEET
* SITESTYLE.CSS
*
* Author: Daniel Edwards w1056952
*/

/*
Colour Scheme:
Background Colour: 
Main div colour: 
Text Colour: 

padding/margin: TOP RIGHT BOTTOM LEFT;
*/

html, body {
	margin:0;
	padding:0;
	height:100%;
	background:#FFFFFF;
	color: #767676;
	text-align: justify;
	background-image: url('images/bg.jpg');
	background-position: top center;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 10pt;
}

/*main element divs*/
#wrapper {
	position:relative;
	margin:0 auto;
	width: 840px;
}

#logo {
	float: left;
}

#logo:hover {
	cursor: pointer;
}

#search {
	float: right;
}

#topNav {
	clear: both;
	padding-top: 5px;
}

#main {
	background:#333333;
	text-align: justify;
	min-height: 400px;
	padding: 10px;
	clear: both;
}

#photo {
	clear: both;
	background: #202020;
	text-align: center;
}

#flaggedPhoto {
	color: #FF0000;
	clear: both;
	background: #333333;
	padding: 10px;
}

#full {
	clear: both;
	background: #202020;
	padding: 10px;
}

#large {
	width: 485px;
	background: #202020;
	padding: 10px;
	float: left;
}

#small {
	width: 285px;
	background: #202020;
	padding: 10px;
	float: right;
}

#mediumLeft {
	width: 385px;
	background: #202020;
	padding: 10px;
	float: left;
}

#mediumRight {
	width: 385px;
	background: #202020;
	padding: 10px;
	float: right;
}

#hidden {
	visibility: hidden;
	display: none;
}

.comment {
	padding: 3px;
}

.comment:hover{
	background: #333333;
}

#favouriteDiv:hover {
	cursor: pointer;
}

/*formatting divs*/
.floatRight {
	float: right;
}

#floatLeft {
	float: left;
}

#floatRight {
	float: right;
}

#spacer {
	margin-top: 10px;
}

#clear {
	clear: both;
}

.hr {
	background-color: #767676;
	height: 1px;
	margin: 8px 0;
}

/*headings*/
h1 {
	color: #767676;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: normal;
	font-weight: normal;
	font-size: 2.5em;
	margin: 0;
	display: inline-table;
}

h1, h2, h3 {
	color: #767676;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: normal;
	font-weight: normal;
	margin: 0;
	display: inline;
}

h1 {
	font-size: 2.5em;
}

h2{
	font-size: 2em;
}

/*links*/
#currentTabLink{
	color: #767676;
	padding: 4px 10px 4px 10px;
	background-color: #333333;
}

#tabLink{
	color: #767676;
	padding: 4px 10px 4px 10px;
	background-color: #202020;
}

a:link, a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

a:hover {
	color: #FFFFFF;
	text-decoration:underline;
}

/*html elements*/
#file {
	color: #767676;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 10pt;
}

.button {
	
}

/*drop down menu and items*/
#menu {
	margin: 0;
	padding: 0;
}

#menu li {
	list-style: none;
	float: left;
}

#menu li a {
	display: block;
	margin: 0 2px 0 2px;
}

#menu div {
	position: absolute;
	visibility: hidden;
}

#menu div a {
	position: relative;
	display: block;
	padding: 4px 10px 4px 10px;
	width: auto;
	white-space: nowrap;
	color: #767676;
	background-color: #202020;
}

#menu div a:hover {
	text-decoration:underline;
}

/*
padding/margin: TOP RIGHT BOTTOM LEFT;
*/